/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext');
html, body {
    font-family: 'Roboto', sans-serif !important;

}
/*body{
    background: #ffff;
    font-size: 14px;
    color: #000;
    min-width: 320px;
}*/
img{
    max-width: 100%;
    height: auto;
}
h3{
    font-size: 24px;
    font-weight: 700;
}
.btn-red{
    background: #d51e08;
    color: #fff;
}
.btn-red:hover {
    background: #ec4835;
}

/*=============================header=========================================*/
.menu-top .navbar{
    margin-bottom: 0;
    background: #fff;
    padding: 15px 0;
}

.logo {
    padding-bottom: 20px;
}

.nav.navbar-nav.navbar-right {
    padding-top: 10px;
}

.menu-top .navbar-default .navbar-nav>li>a {
    color: #1d5b97;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 5px;
    transition: background .3s;

}

.menu-top .navbar-default .navbar-nav > li > a:hover {

}

.menu-top .navbar-default .navbar-nav > li > a.btn-red{
    background: #fbd302;
    border-radius: 3px;
    color: #333333;
    font-size: 16px;
    padding: 15px 35px;
}

.menu-top .navbar-default .navbar-nav > li > a.btn-red:hover {
    background: #fddf41;
    /*text-decoration: none;*/
}

.bg_visual {
    background-size: cover;
    background-position: center center;
    background-image: url(../img/Illustration.png);
    font-size: 20px;
    left: 0;
    /*line-height: 100px;*/
    min-height: 760px;
    top: 0;
    /*background-repeat: no-repeat;*/
    text-align: center;
    text-transform: uppercase;
}

.bg_visual h1 {
    font-weight: 700;
    font-size: 72px;
    padding-top: 100px;
    margin: 0;
}
.bg_visual h1 span{
    color: #fbd302;
}

.bg_visual h3 {
    font-size: 36px;
    font-weight: 400;
}
.switchers  {
    background: #205b98;
    height: 100px;
    line-height: 57px;
    position: relative;
    margin-top: -100px;
    margin-right: -15px;

}

.indicators {
    display: flex;
    bottom: 50px;
    left: 17%;
    list-style: none;
    justify-content: space-around;
    position: absolute;
    width: 50%;
}

.indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -17px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    text-transform: none;
}


.indicators li span {
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    margin-left: 21px;
}

.hr {
    border-bottom: 2px solid #fff;
    padding-bottom: 34px;
    width: 49%;
    margin-left: 19%;
}
.step_1 h4 {
    text-align: center;
    font-size: 30px;
    color: #205b98;
    padding-top: 10px;
}

.step_1 h4 span{
    display: block;
    color: #333333;
}

.switchers .btn-red {
    border-radius: 4px;
    background-color: #fbd302;
    color: #333333;
    float: right;
    font-size: 18px;
    margin: -13px 350px 0px 0px;
    padding: 0px 78px 0px 78px;
    text-decoration: none;
}
.point_1 {
    height: 232px;
    border: 1px solid #e4ebf2;
    margin: 35px 0 0 0;
}

.point_1 h5 {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #3c434d;
    padding: 5px 0 5px 0;
}

.introduce, .introduce_2 {
    border-bottom: 1px solid #e4ebf2;
    width: 100%;
    background: #f3f8fd;
}

.point_2 {
    height: 232px;
    border: 1px solid #e4ebf2;
    margin: 35px 0 0 0;
}
.point_2 h5 {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #3c434d;
    padding: 5px 0 5px 0;
}


/*=====================input=============================*/
.box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    /*background: #fff;*/
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
}

.input,
.input label,
.input input,
.input .spin,
.button,
.button button .button.login button i.fa,
.material-button .shape:before,
.material-button .shape:after,
.button.login button {
    transition: 300ms cubic-bezier(.4, 0, .2, 1);
    -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
    -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
}

.input,
.input label,
.input input,
.input .spin,
.button,
.button button {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
}

.brif .input {
    margin-top: 35px;
    height: 70px;
}

.input,
.button {
    margin-top: 15px;
    height: 65px;
}

.input,
.input input,
.button,
.button button {
    position: relative;
}

.input input {
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    color: #333333 !important;
    font-weight: 500!important;
}
.introduce,
.input input,
.input label,
.button button {
    font-size: 16px;
    color: #b7bdc2;
    font-weight: 300;
}

.input:before,
.input .spin {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.input:before {
    content: "";
    background: rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.input .spin {
    background: #fbd302;
    z-index: 4;
    width: 0;
    height: 2px;
}

.overbox .input .spin {
    background: rgba(255, 255, 255, 1);
}

.overbox .input:before {
    background: rgba(255, 255, 255, 0.5);
}

.input label {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;
    cursor: pointer;
    line-height: 80px;
}

.materialContainer {
    width: 100%;
    max-width: 460px;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

/*================================================================================================*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .menu-top .navbar-right {
        float: none !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}
@media only screen and (max-width : 767px) {
    .menu-top .navbar-default .navbar-nav>li>a:hover{
        background: #eee;
    }
    .menu-top .container,
    .menu-top .navbar-collapse{
        padding-left: 15px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}



